*{
   box-sizing: border-box;
   
   

}
.container{

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;  
    
    
}

.book{
  
    background-color: aqua;
    height: 200px;
    border-radius: 10px;
    place-items: center;
    
}

.newBook{
    justify-self: end;
    width: 70px;
    height: 50px;
    align-items: center;
    margin: 20px;
    
   }
   div{
    font-size: 20px;
   }
   form{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
    


   }

   input{

    border-radius: 5px;
   }

   dialog{

    border-radius: 10px;
   }

  input[type = "radio"]{
             
              
              background: red;
              width: 10px;
  height: 10px;
    
  }

  button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

::backdrop{
    

    backdrop-filter: blur(5px);
}
